* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
    -webkit-tap-highlight-color: transparent;
    font-family: 'MiSans Medium';
}

*::-webkit-scrollbar {
    width: 0.25rem;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #b7b7b7;
    border-radius: 114514rem;
}

body>div.tempElement.fixedBack.shadowBorder>div ::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

:root {
    color-scheme: light dark
}

.maxViewPort {
    min-height: 100vh;
    min-height: 100svh;
    min-height: 100dvh;
    max-width: 100vw;
    width: 100%;
}

.basePart {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#basePart>.childPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.childPart {
    max-width: calc(512px - 24px);
    width: calc(90vw - 24px);
    border-radius: 12px;
    padding: 12px;
}

.shadowBorder {
    box-shadow: 0 0px 45px -3px #0000002b;
}

.slimBorder {
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
}

.greyBackground {
    background-color: rgb(236 236 236 / 84%);
}

.basePart>:not(:first-child) {
    margin-top: 8px;
}

.bbox {
    box-sizing: border-box;
}

hr {
    outline: none;
    border: none;
    background-color: #00000018;
    height: 2px;
    border-radius: 114514px;
    margin: 6px 0;
    width: 100%;
}


#infoArea .childPart {
    width: calc(100% - 24px);
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    transition: all 0.374s;
    cursor: pointer;
}

#infoArea .childPart div:nth-child(2):has(input) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.childPart form:has(input) {
    width: 100%;
}

.childPart form input {
    width: 100%;
}

#infoArea .childPart:has(input:valid),
#infoArea .childPart:hover {
    background-color: rgba(241, 241, 241, 0.674);
}

.characterItem>.childPart:hover {
    background-color: transparent !important;
}

.characterItem .selected:hover,
.characterItem .selected {
    /* backdrop-filter: brightness(0.7); */
    background-color: #00000045 !important;
}

#infoArea .childPart>div {
    max-width: 100%;
    word-break: break-all;
    user-select: none;
}

#infoArea .childPart>div:first-child {
    text-transform: capitalize;
    white-space: nowrap;
    margin-right: 1em;
}

#infoArea .childPart>div:nth-child(2) {
    cursor: pointer;
}

#infoArea .childPart input {
    outline: none;
    border: none;
    background: none;
    text-align: right;
}

.bold {
    font-weight: 600;
}

.copyright {
    margin-top: 1em;
}

.copyright a {
    text-decoration: none;
    color: #840D23;
}

.iconCotainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.iconCotainer :nth-child(2) {
    margin-left: 0.4rem;
}

.inlineSvgIcon {
    transform: translateY(1px);
    height: 1em;
    width: 1em;
    position: relative;
}

.infoContainer {
    margin: 2rem 0;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
}

.characterItem .childPart :nth-child(1) :nth-child(2),
.infoContainer>.childPart>div:nth-child(2) {
    font-size: small;
    font-weight: lighter;
}

/* 角色卡片小标题 */
.characterItem .childPart :nth-child(1) :nth-child(2) {
    color: #606060;
    background-color: #ffffff94;
    padding: 0.3em 0.4em;
    width: fit-content;
    border-radius: 1rem;
    margin-top: 0.3rem;
}

/* 角色卡片大标题 */
.characterItem .childPart :nth-child(1) :nth-child(1) {
    font-size: larger;
    font-weight: lighter;
    white-space: wrap;
    background-color: #ffffff94;
    padding: 0.3em 0.4em;
    width: fit-content;
    border-radius: 1rem;
}

.characterItem img {
    max-height: 6rem;
    border-radius: 0.8rem;
}

.fixedBack {
    background-color: #fff;
    padding: 1.2rem;
    position: fixed;
    border-radius: 2rem;
    margin: 2rem;
    cursor: pointer;
    display: flex;
    user-select: none;
    box-sizing: border-box;
    max-width: calc(100vw - 4rem);
    bottom: 0;
    z-index: 10;
}

.fixedBack>div>div {
    margin-left: 1em;
}

.fixedBack>div>div:first-child {
    margin-left: 0;
}

.selectedCharacterList {
    max-width: calc(512px - 24px);
    width: calc(90vw - 24px);
    border-radius: 12px;
    padding: 12px;
    width: calc(100% - 24px);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    transition: all 0.374s;
    cursor: pointer;
    justify-content: center;
    cursor: auto;
    user-select: none;
}

.selectedCharacterList> :last-child>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0.525rem;
    margin: 0.25rem;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    background-color: #ececec;
    border-radius: 2rem;
    cursor: pointer;
}

.selectedCharacterList> :first-child {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.selectedCharacterList> :first-child>:last-child {
    cursor: pointer;
}

.selectedCharacterList> :nth-child(2) {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.selectedCharacterList> :last-child>div :last-child {
    margin-left: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedCharacterList> :last-child>div :last-child :last-child {
    background-color: #4141412f;
    display: flex;
    width: 1em;
    height: 1em;
    justify-content: center;
    align-items: center;
    padding: 0.23rem;
    border-radius: 114514rem;
    cursor: help;
}

.selectedCharacterList .img {
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroList {
    display: flex;
    flex-direction: column !important;
}

.heroList>:first-child {
    margin-right: 0 !important;
    display: flex;
}

.heroList>div {
    width: 100%;
}

.heroList>:last-child>:first-child {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.scrollBox {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    border-radius: 114514rem;
    transform: translateY(2px);
}

.scrollBox::-webkit-scrollbar {
    height: 2px;
    position: absolute;
    margin: -1px 0;
}

.scrollBox::-webkit-scrollbar-thumb {
    background-color: #0000002c;
}

.sortDialog {
    border: none;
    box-sizing: border-box;
    margin: auto;
    max-width: calc(512px - 24px);
    width: calc(90vw - 24px);
    border-radius: 12px;
    padding: 1.4rem;
    outline: none;
}

.sortDialog::backdrop {
    background-color: #0000000f;
}

.sortDialog .basePart {
    flex-wrap: wrap;
    align-items: flex-start;
}

.sortDialog .apply {
    background-color: #0000000d;
    padding: 0.3rem 0.6rem;
    border-radius: 114514rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.sortDialog .selectorContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.sortDialog .selectorContainer>div {
    background-color: #0000000d;
    width: 100%;
    margin: 0.225rem 0;
    padding: 0.625rem;
    border-radius: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    transition: background-color .17s ease-in-out;
}

.sortDialog .selectorContainer .selected {
    background-color: #0000001a;
}

.sortDialog .selectorContainer>div input[type="radio"] {
    display: none;
}

.sortDialog .addContainer>div {
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
}

.sortDialog .addContainer>div input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    height: fit-content;
    margin: 0 0.625rem;
    text-align: right;
}

.pageSwitcherBase {
    display: flex;
    justify-content: center;
}

.pageSwitcher {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}

.pageSwitcher>.inlineSvgIcon {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    margin: 0.2rem;
    border-radius: 0.5rem;
    padding: 0.35rem;
}

.curPtr {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .shadowBorder {
        box-shadow: 0 0px 45px -3px #fcfcfc1d;
    }

    hr {
        background-color: #e1e1e129
    }

    body {
        background-color: #181818;
    }

    .copyright a {
        color: #cb3c56;
    }

    .characterItem .selected,
    #infoArea .childPart:has(input:valid),
    #infoArea .childPart:hover {
        background-color: rgba(10, 10, 10, 0.674) !important;
    }

    .inlineSvgIcon svg path {
        fill: #fff;
    }

    .fixedBack {
        background-color: #000;
    }

    .characterItem .childPart :nth-child(1) :nth-child(1) {
        color: #000;
    }

    .sortDialog {
        background-color: #181818;
    }

    .sortDialog .apply,
    .sortDialog .selectorContainer>div {
        background-color: #3e3e3e;
    }

    .sortDialog .selectorContainer .selected {
        background-color: #757575;
    }

    .pageSwitcher {
        background-color: #181818;
    }

    .selectedCharacterList> :last-child>div,
    .pageSwitcher>.inlineSvgIcon {
        background-color: #252525;
    }
}